body{
	background:grey;
	text-align: center;
}

h2{
	color:purple;
	text-align: center;
	margin-top: 10px;
}

#board{
  background-image: linear-gradient(violet,cyan,violet);
	border:#999 3px solid;
	width:80%;
	height:540px;
	padding:24px;
	margin:0px auto;
}

#board >div {
	background:purple;
	border:#000 1px solid;
	width:110px;
	height:130px;
	float:left;
	margin:9px;
	padding:30px;
	font-size:26px;
	cursor:pointer;
	text-align:center;
}
