body{
  height:100%;
  width:100%;
  z-index: 0;
  padding:0px;
  margin: 0px;
  overflow: scroll;
  text-align: center;
  background-image:url("../img/weather.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Trade Gothic LT Std";
  -webkit-transition: background-image 400ms ease-in 400ms;
  -moz-transition: background-image 400ms ease-in 400ms;
  -o-transition: background-image 400ms ease-in 400ms;
  transition: background-image 400ms ease-in 400ms;

}

.content-box{
  background: #95BFE1;
  width: 600px;
  height:210px;
  opacity: .9;
  text-align: center;
  top: 30%;
  left:30%;
  /*border-radius: 250px;*/
  margin: 0 auto;
  box-shadow: 15px 15px 30px #000;
  margin-top: 15%;
  padding: 15px;
  z-index: 99;
  -webkit-transition: background-image 400ms ease-in 400ms;
  -moz-transition: background-image 400ms ease-in 400ms;
  -o-transition: background-image 400ms ease-in 400ms;
  transition: background-image 400ms ease-in 400ms;
}


#temperature {
    text-align: center;
    font-size: 5em;
}

.cold {
    color: blue;
}

.hot {
    color: red;
}
